# PyTutorial 3.0 - Introduction to Pandas

This part of the tutoral focusses on the Pandas library for data manipulation and analysis.
"Pandas" is derived from the term "panel data", as well as a play on the phrase "Python data analysis".

Here are some highlights of what Pandas can do:

- A fast and efficient DataFrame object for data manipulation with integrated indexing;
- Tools for reading and writing data between in-memory data structures and different formats: CSV and text files, Microsoft Excel, SQL databases, and the fast HDF5 format;
- Intelligent data alignment and integrated handling of missing data: gain automatic label-based alignment in computations and easily manipulate messy data into an orderly form;
- Flexible reshaping and pivoting of data sets;
- Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
- Columns can be inserted and deleted from data structures for size mutability;
- Aggregating or transforming data with a powerful group by engine allowing split-apply-combine operations on data sets;
- High performance merging and joining of data sets;
- Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
- Time series-functionality: date range generation and frequency conversion, moving window statistics, date shifting and lagging. Even create domain-specific time offsets and join time series without losing data;
- Highly optimized for performance, with critical code paths written in Cython or C.

In this notebook, you will learn how to import Pandas and load some example data to gain a basic understanding of DataFrames and Series objects.

To get started, you will need to install Pandas using pip:
- From a terminal, type: `pip install pandas`

We will also make use of public data from StackOverflow's annual software developer survey (http://bit.ly/SO-Survey-Download).
A subset of the 2024 survey has been saved to `Data\survey_results_public_subset.csv` in the same directory as this file. The full survey results can be found in `Data\stack-overflow-developer-survey-2024.zip`.

In [92]:
# First import os and pandas:
import os
import pandas as pd

# Get the location of the current working directory (where this file resides):
cwd = os.getcwd()

# Define the absolute path for the survey results csv file:
file_path = os.path.join(cwd,'Data','survey_results_public_subset.csv')

# Read the csv file into a DataFrame:
df = pd.read_csv(file_path)

# Display the DataFrame:
display(df)

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,I am a developer by profession,35-44 years old,"Student, full-time",NaN,Apples,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
9996,9997,I am a developer by profession,25-34 years old,"Employed, full-time",In-person,Apples,Hobby;Professional development or self-paced l...,"Secondary school (e.g. American high school, G...",Books / Physical media;Colleague;Other online ...,Technical documentation;Blogs;Books;Written Tu...,...,30.0,10.0,20.0,10.0,0.0,10.0,Appropriate in length,Easy,80555.0,9.0
9997,9998,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Professional development or self-paced l...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,53503.0,NaN
9998,9999,I am a developer by profession,35-44 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",On the job training;Other online resources (e....,Technical documentation;Written Tutorials;Stac...,...,20.0,20.0,20.0,20.0,10.0,5.0,Appropriate in length,Easy,94267.0,9.0
9999,10000,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Bootstrapping a business;Professional de...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",On the job training;Other online resources (e....,Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN

In [ ]:
# As you can see, the DataFrame contains rows and columns of data like a spreadsheet,
# but not all of the data contained in the csv file are displayed.
# By default, when DataFrames are printed to the screen, only the first 5 rows (the "head")
# and the last 5 rows (the "tail") are displayed. Similarly, only the first and last 10 columns are shown.

# We can determine the actual size of our DataFrame in a tuple using the "shape" attribute:
nrows, ncols = df.shape
print('df.shape =', df.shape, '\n')

# We can also use the "info" method for more information (size and data types)
print('df.info():')
df.info()

df.shape = (10000, 114)

df.info():
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Columns: 114 entries, ResponseId to JobSat
dtypes: float64(13), int64(1), object(100)
memory usage: 8.7+ MB

In [34]:
# To change the default options, such as the maximum number of rows or columns displayed:
pd.set_option('display.min_rows', None) ## Needed to enforce 'max_rows' option
pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', 8)
df
# Note the first column displayed is an automatically assigned row identifier, which is not part of the data set.

,ResponseId,MainBranch,Age,Employment,...,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",...,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",...,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",...,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",...,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",...,Too short,Easy,NaN,NaN
5,6,I code primarily as a hobby,Under 18 years old,"Student, full-time",...,Appropriate in length,Easy,NaN,NaN
6,7,"I am not primarily a developer, but I write co...",35-44 years old,"Employed, full-time",...,Too long,Neither easy nor difficult,NaN,NaN
7,8,I am learning to code,18-24 years old,"Student, full-time;Not employed, but looking f...",...,Appropriate in length,Difficult,NaN,NaN
8,9,I code primarily as a hobby,45-54 years old,"Employed, full-time",...,Appropriate in length,Neither easy nor difficult,NaN,NaN
9,10,I am a developer by profession,35-44 years old,"Independent contractor, freelancer, or self-em...",...,Too long,Easy,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9990,9991,I am a developer by profession,45-54 years old,"Employed, full-time",...,Appropriate in length,Easy,102950.0,7.0
9991,9992,I am a developer by profession,25-34 years old,"Employed, full-time",...,Appropriate in length,Easy,32170.0,NaN
9992,9993,I am a developer by profession,25-34 years old,"Employed, full-time",...,Too long,Difficult,71781.0,8.0
9993,9994,I am a developer by profession,25-34 years old,"Employed, full-time",...,Too long,Neither easy nor difficult,30914.0,7.0
9994,9995,I am a developer by profession,18-24 years old,"Employed, full-time",...,Appropriate in length,Easy,NaN,NaN
9995,9996,I am a developer by profession,35-44 years old,"Student, full-time",...,Appropriate in length,Easy,NaN,NaN
9996,9997,I am a developer by profession,25-34 years old,"Employed, full-time",...,Appropriate in length,Easy,80555.0,9.0
9997,9998,I am a developer by profession,35-44 years old,"Employed, full-time",...,Appropriate in length,Easy,53503.0,NaN
9998,9999,I am a developer by profession,35-44 years old,"Employed, full-time",...,Appropriate in length,Easy,94267.0,9.0
9999,10000,I am a developer by profession,35-44 years old,"Employed, full-time",...,Too long,Easy,NaN,NaN

In [35]:
# To reset these options:
pd.reset_option('display.min_rows')
pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')
df
# To reset all options one can use 'all' as the argument.

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,I am a developer by profession,35-44 years old,"Student, full-time",NaN,Apples,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
9996,9997,I am a developer by profession,25-34 years old,"Employed, full-time",In-person,Apples,Hobby;Professional development or self-paced l...,"Secondary school (e.g. American high school, G...",Books / Physical media;Colleague;Other online ...,Technical documentation;Blogs;Books;Written Tu...,...,30.0,10.0,20.0,10.0,0.0,10.0,Appropriate in length,Easy,80555.0,9.0
9997,9998,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Professional development or self-paced l...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,53503.0,NaN
9998,9999,I am a developer by profession,35-44 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",On the job training;Other online resources (e....,Technical documentation;Written Tutorials;Stac...,...,20.0,20.0,20.0,20.0,10.0,5.0,Appropriate in length,Easy,94267.0,9.0
9999,10000,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Bootstrapping a business;Professional de...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",On the job training;Other online resources (e....,Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN

In [36]:
# The 'head' method shows only first 'n' rows, including the header row:
df.head(10)
# or the first 5 rows by default:
# df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN
5,6,I code primarily as a hobby,Under 18 years old,"Student, full-time",NaN,Apples,NaN,Primary/elementary school,"School (i.e., University, College, etc);Online...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
6,7,"I am not primarily a developer, but I write co...",35-44 years old,"Employed, full-time",Remote,Apples,I don’t code outside of work,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Stack Overflow;Written...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN,NaN
7,8,I am learning to code,18-24 years old,"Student, full-time;Not employed, but looking f...",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Video-based Online Cou...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Difficult,NaN,NaN
8,9,I code primarily as a hobby,45-54 years old,"Employed, full-time",In-person,Apples,Hobby,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)",Books / Physical media;Other online resources ...,Stack Overflow;Written-based Online Courses,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN,NaN
9,10,I am a developer by profession,35-44 years old,"Independent contractor, freelancer, or self-em...",Remote,Apples,Bootstrapping a business,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",On the job training;Other online resources (e....,Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN

In [7]:
# Similarly, the 'tail' method shows only last 'n' rows:
df.tail(10)
# or the last 5 rows by default:
# df.tail()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
9990,9991,I am a developer by profession,45-54 years old,"Employed, full-time",In-person,Apples,Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Online Courses or Certi...,NaN,...,0.0,30.0,30.0,0.0,0.0,10.0,Appropriate in length,Easy,102950.0,7.0
9991,9992,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,I don’t code outside of work,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,32170.0,NaN
9992,9993,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,Professional development or self-paced learnin...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Video-based Online Cou...,...,0.0,0.0,0.0,0.0,0.0,0.0,Too long,Difficult,71781.0,8.0
9993,9994,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training;Oth...,Technical documentation;Blogs;Books;Written Tu...,...,10.0,30.0,20.0,10.0,0.0,0.0,Too long,Neither easy nor difficult,30914.0,7.0
9994,9995,I am a developer by profession,18-24 years old,"Employed, full-time",In-person,Apples,Hobby;School or academic work;Professional dev...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Written Tutorials;Codi...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
9995,9996,I am a developer by profession,35-44 years old,"Student, full-time",NaN,Apples,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
9996,9997,I am a developer by profession,25-34 years old,"Employed, full-time",In-person,Apples,Hobby;Professional development or self-paced l...,"Secondary school (e.g. American high school, G...",Books / Physical media;Colleague;Other online ...,Technical documentation;Blogs;Books;Written Tu...,...,30.0,10.0,20.0,10.0,0.0,10.0,Appropriate in length,Easy,80555.0,9.0
9997,9998,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Professional development or self-paced l...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,53503.0,NaN
9998,9999,I am a developer by profession,35-44 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",On the job training;Other online resources (e....,Technical documentation;Written Tutorials;Stac...,...,20.0,20.0,20.0,20.0,10.0,5.0,Appropriate in length,Easy,94267.0,9.0
9999,10000,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Bootstrapping a business;Professional de...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",On the job training;Other online resources (e....,Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN

In [ ]:
# DataFrames are very similar to dictoraries of lists.
# That is: key-value pairs where the values are list objects of the same length.
# DataFrames also have an index (or label) assigned to each row and column.

# For example:
people = {
    "first": ["Luke", "Han", "Leia"],
    "last": ["Skywalker", "Solo", "Organa"],
    "email": ["luke.skywalker@rebel.org", "solo@sympatico.net", "princess.leah@rogers.ca"]
}

# We can create a DataFrame from this dictionary:
df = pd.DataFrame(people)
display(df)

  first       last                     email
0  Luke  Skywalker  luke.skywalker@rebel.org
1   Han       Solo        solo@sympatico.net
2  Leia     Organa   princess.leah@rogers.ca

In [ ]:
# To get the column labels of the DataFrame:
print(df.columns)

# To get the row labels (or indices):
print(df.index)

Index(['first', 'last', 'email'], dtype='object')
RangeIndex(start=0, stop=3, step=1)

In [90]:
# The index of a DataFrame is a series of labels that identify each row.
# The labels can be integers, strings, or any other hashable type.
# By default they are set to whole number integers, but they can be specified as follows:
df2 = pd.DataFrame(people, index=[42, -13, 75])
display(df2)

print(df2.index)

    first       last                     email
 42  Luke  Skywalker  luke.skywalker@rebel.org
-13   Han       Solo        solo@sympatico.net
 75  Leia     Organa   princess.leah@rogers.ca

Index([42, -13, 75], dtype='int64')

In [89]:
# Data stored in the dictionary are accessed using the associated 'key':
print(people["email"], '\n')

# Data within a DataFrame can be accessed using the appropriate row or column indices/labels.
# We can access a single column in the same way as a dictionary:
print(df["email"], '\n')

# We can also access a single column using the column name as an attribute of the DataFrame:
print(df.email, '\n')

# We can access a single row in a similar fashion to a list by specifying an integer index using 'iloc':
print(df.iloc[0], '\n')

# We can also access rows using the 'loc' command, which accesses by label (integer, string, boolean, etc.) 
print(df.loc[0])

['luke.skywalker@rebel.org', 'solo@sympatico.net', 'princess.leah@rogers.ca']

0    luke.skywalker@rebel.org
1          solo@sympatico.net
2     princess.leah@rogers.ca
Name: email, dtype: object

0    luke.skywalker@rebel.org
1          solo@sympatico.net
2     princess.leah@rogers.ca
Name: email, dtype: object

first                        Luke
last                    Skywalker
email    luke.skywalker@rebel.org
Name: 0, dtype: object

first                        Luke
last                    Skywalker
email    luke.skywalker@rebel.org
Name: 0, dtype: object

In [ ]:
# Note that a single row or column of a DataFrame returns a 'Series' object:
print(type(df.email))
print(type(df.loc[0]), '\n')

# A Series can be interpretted as a one dimensional array with additional labels for each element.
# They behave similarly to a list or dictionary:
s = df.email
print(s)
print(s[1], '\n')

s = df.loc[0]
print(s)
print(s['last'], '\n')

# They can be converted to a numpy array using to_numpy():
print(s.to_numpy())

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

0    luke.skywalker@rebel.org
1          solo@sympatico.net
2     princess.leah@rogers.ca
Name: email, dtype: object
solo@sympatico.net

first                        Luke
last                    Skywalker
email    luke.skywalker@rebel.org
Name: 0, dtype: object
Skywalker

['Luke' 'Skywalker' 'luke.skywalker@rebel.org']

In [ ]:
# To access multiple rows or columns, simply pass a list of indices or column names, respectfully:
display(df.iloc[[0,1]])
display(df[["first", "last"]])

# The returned objects in this case are DataFrames:
print(type(df.iloc[[0,1]]))
print(type(df[["first", "last"]]))

  first       last                     email
0  Luke  Skywalker  luke.skywalker@rebel.org
1   Han       Solo        solo@sympatico.net

  first       last
0  Luke  Skywalker
1   Han       Solo
2  Leah     Organa

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [ ]:
# We can also choose a specific column from a subset of rows:
df.iloc[[0, 1], 2]

0    luke.skywalker@rebel.org
1          solo@sympatico.net
Name: email, dtype: object