In this tutorial we will learn how to add and remove the rows and colunms of a DataSet.

In [ ]:
people = {
    'first' : ['Corey' , 'Jane' , 'John'],
    'last' : ['Schafer' , 'Doe' , 'Doe'],
    'email' : ['CoreyMShafer@email.com' , 'JaneDoe@email.com' , 'JohnDoe@email.com'],
}

import pandas as pd 
df = pd.DataFrame(people)
df

 Here is a small data table. We want to combine the column "first" and "last" to make the person's full name. Note the two quotation marks sepereated by a space in the middle. These will seperate the two words by a space, giving the proper display of the fill name.

In [ ]:
df['first'] + ' ' + df['last']

Now, let's add that into a new column on our pre existing data set. We are simply setting a new column equal to the full names.

In [ ]:
df['full_name'] = df['first'] + ' ' + df['last']
df

Now we can remove the "first" and "last" columns, since the full name is already displayed. This will be done using command df.drop

In [ ]:
df.drop(columns=['first' , 'last'])

If we are happy with the removal of the columns, we can set that more permanately using inplace=True

In [ ]:
df.drop(columns=['first' , 'last'], inplace=True)
df

We can do a similar thing in reverse, splitting a variable apart.

In [ ]:
df['full_name'].str.split(' ')

Let's seperate the names into a column for first and last

In [ ]:
df['full_name'].str.split(' ', expand=True)

Continuing with this, we can set two columns equal to this split variable. Note how this is similar to what we did when combining two variables

In [ ]:
df[['first', 'last']] = df['full_name'].str.split(' ', expand=True)
df

Now let's add another name to the list. this will be done using pd.concat . We will set the new value we wish to add, 'Tony', to the column 'first', and 'Smith' to the 'last' column, and name that s1. Then, the concat command will add this to df, and we set to_frame(3).T to set the new row to 3.

In [ ]:
s1=pd.Series({'first':'Tony', 'last':'Smith'})
pd.concat([df, s1.to_frame(3).T], ignore_index=False)

Let's make another DataFrame, and then add this to the preexisting df

In [ ]:
people = {
    'first' : ['Tony', 'Steve'],
    'last' : ['Stark' , 'Rogers'],
    'email' : ['IronMan@avenge.com','Cap@avenge.com',],
}
df2=pd.DataFrame(people)
df2

Using concat, we will combine df and df2 with pd.concat . We set the axis to 0 for the Y axis, but if we wished to combine on x, axis =1 would be used.

In [ ]:
df3=pd.concat([df,df2], axis=0, ignore_index=True, sort=False)
df3

Now, say we want to remove one of the rows. This can be acheived by the df.drop command.

In [ ]:
df3.drop(index=4)

We can do more that just drop rows based on thier index number. Let's remove every row with the last name Doe.

In [ ]:
cond=df['last']=='Doe'
df3.drop(index=df[cond].index)

That's everything you need to know about adding and removing columns and rows in you pandas DataFrames. Next tutorial will be about sorting data.